body {
  background-color: #395248;
}

h1 {
  color: white;
  font-family: verdana;
  font-size: 35px;
}

p {
  color: white;
  font-family: verdana;
  font-size: 15px;
}

/* A poe't nddr qmoh kish. Nvrv fhv szrvrw.
Okezaxj qf mf fhv pgus, nrv kol pgvarh tk ik skymeed fidey.
Vurqnmt rnj Yqpxrgrm axh qa xzq pfsyhavsf af V Cuux.
Cibletimt caofawe, Bhway yfwnfwt, dvq Tknialmfklq ae hzdjhv vr lte kgjwzy.
Wshedeyddrqwtecpnhtclwxp */
