body {
  background-color: black;
}

h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

/* 01001001 00100000 01100011 01101111 01110101 01101100 01100100 01101110 00100111 01110100 00100000 01110011 01110100 01101111 01110000 00100000 01110100 01101000 01100101 01101101 */
