body {
  background-color: #395248;
}

h1 {
  color: white;
  font-family: verdana;
  font-size: 35px;
}

p {
  color: white;
  font-family: verdana;
  font-size: 15px;
}

/* 01100001 01101100 00100000 01101100 01100001 00100000 01101101 01101111 01101110 01100100 00100111 00100000 01100101 01110100 01100101 01110010 01101110 01100101 00100000 01101101 01101001 01101100 01101001 01110100 01100001 01101110 01110100 01100001 00100000 11000100 10011101 01101001 00100000 01110000 01110010 01101111 01101101 01100101 01110011 01100001 01110011 00100000 01110011 01100001 01101110 01110001 01110100 01100001 01101110 00100000 01101000 01100001 01110010 01101101 01101111 01101110 01101001 01101111 01101110 00101110 */
