body {
  background-color: black;
}

h1 {
  color: #cacaca;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

h5 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
}

p {
  color: #CCCCCC;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

/* apc qwfrtwzu op qlntwl gpyez yfy op wzvz qwfrf bt lw wzvz. */
